<li class="separator"></li>
<li class="table-menu">
  <a title="Table" id="table-menu-button">
    <button class="buttonicon buttonicon-table"></button>
  </a>
</li>
<div id="table-context-menu" class="table-context-menu">
  <ul>
    <li class="menu-item" id="tbl_prop_create_table">Insert Table
      <a href="#create-table-container" data-l10n-id="md_insert_table.menuCreateTable"></a>
    </li>
  </ul>
  <ul>
    <li class="menu-item" id="tbl_prop_insert_row_above" data-action="addTblRowA">Insert Row Above
      <a href="#" data-l10n-id="md_insert_table.menuInsertRowAbove"></a>
    </li>
    <li class="menu-item" id="tbl_prop_insert_row_below" data-action="addTblRowB">Insert Row Below
      <a href="#" data-l10n-id="md_insert_table.menuInsertRowBelow"></a>
    </li>
    <li class="menu-item" id="tbl_prop_insert_col_right" data-action="addTblColL">Insert Column Right
      <a href="#" data-l10n-id="md_insert_table.menuInsertColumnRight"></a>
    </li>
    <li class="menu-item" id="tbl_prop_insert_col_left" data-action="addTblColR">Insert Column Left
      <a href="#" data-l10n-id="md_insert_table.menuInsertColumnLeft"></a>
    </li>
  </ul>
  <ul>
    <li class="menu-item" id="tbl_prop_delete_row" data-action="delTblRow">Delete Row
      <a href="#" data-l10n-id="md_insert_table.menuDeleteRow"></a>
    </li>
    <li class="menu-item" id="tbl_prop_delete_col" data-action="delTblCol">Delete Column
      <a href="#" data-l10n-id="md_insert_table.menuDeleteColumn"></a>
    </li>
    <li class="menu-item" id="tbl_prop_delete_table" data-action="delTbl">Delete Table
      <a href="#" data-l10n-id="md_insert_table.menuDeleteTable"></a>
    </li>
  </ul>
  <ul>
    <li class="menu-item" id="tbl_prop_menu_hide">Close Menu
      <a href="#" data-l10n-id="md_insert_table.menuCloseThisMenu"></a>
    </li>
  </ul>

  <div id="create-table-container" class="table-context-menu">
    <div id="new-table-size">0 X 0</div>
    <table id="new-table-size-selector">
      <tbody>
        <% for(var i=1; i<11; i++) {%>
        <tr value="<%= i %>">
          <% for(var j=1; j<21; j++) {%>
          <td value="<%= j %>"></td>
          <% } %>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
